{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BestiaChilena69 | Portfolio</title>
    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2//css/all.min.css" />
    <link rel="icon" href="{% static 'portfolio/img/icon.png' %}">
</head>
<body>
    <div class="scroll-button">
        <a href="#Inicio"><i class="fas fa-arrow-up"></i></a>
    </div>
    <nav>
        <div class="navbar">
            <div class="logo"><a href="#">Portfolio.</a></div>
            <ul class="menu">
                <li><a href="#Inicio">Inicio</a></li>
                <li><a href="#Sobremi">Sobre mi</a></li>
                <li><a href="#Skills">Skills</a></li>
                <li><a href="#Servicios">Servicios</a></li>
                <li><a href="#Contacto">Contacto</a></li>
                <div class="cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
            </ul>
            <div class="media-icons">
                <a href="https://www.reddit.com/user/MiM1n777/"><i class="fab fa-reddit"></i></a>
                <a href="https://github.com/BestiaChilena69"><i class="fab fa-github"></i></a>
                <a href="https://www.youtube.com/channel/UCdViRyY15BsSXt950JxJOig"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
    <section class="home" id="Inicio">
        <div class="home-content">
            <div class="text">
                <div class="text-one">Hola,</div>
                <div class="text-two">Soy Benjamin Cabezas</div>
                <div class="text-three">Programador y creador de IA</div>
                <div class="text-four">Desde Chile</div>
            </div>
            <div class="button">
                <button>Contratáme</button>
            </div>
        </div>
    </section>
    <section class="about" id="Sobremi">
        <div class="content">
            <div class="title"><span>Sobre mí</span></div>
            <div class="about-details">
                <div class="left">
                    <img src="{% static 'portfolio/img/yo.jpg' %}" alt="" />
                </div>
                <div class="right">
                    <div class="topic"></div>
                    <p>
                        Discípulo de Eduardo Michell Smith.</a> Tengo 15 puedo ser senior?. 
                        Antes tenía un vida vacía, sigo teniendo una vida vacía pero me programé esta armadura como en el berserk wei #Sociedad #JokerFrase #Sigma #MachetiadoBienMachetiadoPorfa &#128293; &#128293; &#128293; 
                        <br> <br> Chicas goticas y abuelitas seniles sin dentadura escribanme al dm 
                    </p>
                </div>
            </div>
    </section>
    <section class="skills" id="Skills">
        <div class="content">
            <div class="title"><span>Mis Skills</span></div>
            <div class="skills-details">
                <div class="text">
                    <div class="topic">Las competencias reflejan nuestros conocimientos</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus natus tenetur tempora? Quasi, rem
                        quas omnis. Porro rem aspernatur reiciendis ut praesentium minima ad, quos, officia! Illo
                        libero, et, distinctio repellat sed nesciunt est modi quaerat placeat. Quod molestiae, alias?
                    </p>
                    <div class="experience">
                        <div class="num">1</div>
                        <div class="exp">
                            Año de <br />
                            Experiencia
                        </div>
                    </div>
                </div>
                <section class="container">
                    <div class="circle">
                        <span style="--i:1;"><img src="{% static 'portfolio/img/Django.png' %}" alt="Django"></span>
                        <span style="--i:2;"><img src="{% static 'portfolio/img/HTML5.png' %}" alt="HTML"></span>
                        <span style="--i:3;"><img src="{% static 'portfolio/img/CSS3.png' %}" alt="CSS"></span>
                        <span style="--i:4;"><img src="{% static 'portfolio/img/JavaScript.png' %}"alt="JavaScript"></span>
                        <span style="--i:5;"><img src="{% static 'portfolio/img/Bootstrap.png' %}"alt="Bootstrap"></span>
                        <span style="--i:6;"><img src="{% static 'portfolio/img/Angular.png' %}" alt="Angular"></span>
                        <span style="--i:7;"><img src="{% static 'portfolio/img/React.png' %}" alt="React"></span>
                        <span style="--i:8;"><img src="{% static 'portfolio/img/Ionic.png' %}" alt="Ionic"></span>
                        <span style="--i:9;"><img src="{% static 'portfolio/img/Python.png' %}" alt="Python"></span>
                        <span style="--i:10;"><img src="{% static 'portfolio/img/Csharp.png' %}" alt="Csharp"></span>
                        <span style="--i:11;"><img src="{% static 'portfolio/img/Java.png' %}" alt="Java"></span>
                        <span style="--i:12;"><img src="{% static 'portfolio/img/Docker.png' %}" alt="Docker"></span>
                        <span style="--i:13;"><img src="{% static 'portfolio/img/Linux.png' %}" alt="Linux"></span>
                        <span style="--i:14;"><img src="{% static 'portfolio/img/Ubuntu.png' %}" alt="Ubuntu"></span>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <section class="services" id="Servicios">
        <div class="content">
            <div class="title"><span>Mis servicios</span></div>
            <div class="boxes">
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-desktop"></i>
                    </div>
                    <div class="topic">Desarrollo de Pagina Web</div>
                    <p>Mi currículum dice que sé PHP, Bootstrap, React, HTML, CSS y JavaScript</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-paint-brush"></i>
                    </div>
                    <div class="topic">Diseño Web</div>
                    <p>Solo mira esta chulada de página web</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calculator" aria-hidden="true"></i>
                    </div>
                    <div class="topic">Desarrollo de Calculadoras</div>
                    <p>Las hago en Java y las regalo a niños con precariedad económica #AyudaMarginales</p>
                </div>
            </div>
        </div>
    </section>
    <section class="contact" id="Contacto">
        <div class="content">
            <div class="title"><span>Contactame</span></div>
            <div class="text">
                <div class="topic">¿Tienes algún proyecto?</div>
                <p>Quiero ahora mismo una caja de cereal cornflakes en mi billetera virtual</p>
                <div class="button">
                    <button>Charlemos</button>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="text">
            <span> Creado por <a href="#">BestiaChilena69</a> | &#169; 2024 All Rights Reserverd</span>
        </div>
    </footer>
    <script src="{% static 'portfolio/js/script.js' %}"></script>
</body>

</html>